/JavaApplication/nbproject/private/
/JavaApplication/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/lafagit/nbproject/private/
/lgit/nbproject/private/
/nbproject/private/
/mellogit/nbproject/private/